@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.stepper {
  @include flex-center(column);
  gap: $spacing-unit;

  .stepper-titles {
    @include flex-center(row);
    gap: calc($spacing-unit / 2);
    width: 100%;
  }

  .step {
    @include flex-center(column);
    background-color: $border-color;
    @include padding($padding-small);
    @include border-radius($border-radius-small);
    transition: background-color $transition-speed;
    flex: 1;
    text-align: center;

    .step-number {
      width: 30px;
      height: 30px;
      @include border-radius(50%);
      background-color: #fff;
      color: $link-color;
      @include flex-center();
      font-weight: bold;
      margin-bottom: $spacing-unit / 2; 
    }

    .step-details {
      @include flex-center(column);
      gap: calc($spacing-unit / 2);

      h3 {
        margin: 0;
        @include font($body-font-size, bold);
      }

      p {
        margin: 0;
        @include font(14px, normal);
      }
    }

    &.active {
      background-color: $primary-color;
      color: white;
    }
  }
}
