@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.menu {
    ul {
        list-style: none;
        @include flex-center(row);
        gap: calc($spacing-unit * 2);
        padding: 0;
        margin: 0;

        li {
            margin: 0;

            a {
                color: white;
                text-decoration: none;
                @include transition(color); 
                font-size: $base-font-size;
                font-weight: bold;

                &:hover,
                &:focus {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .menu {
        ul {
            @include flex-center(column);
            gap: calc($spacing-unit / 2);
        }
    }
}
