@import '../../../styles/base/variables.scss';
@import '../../../styles/base/mixins.scss';

.left-container {
  background-color: $primary-color; 
  padding: $padding-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    width: 100%;
    flex: none;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    flex: 1; 
  }

  @media (min-width: 1025px) {
    flex: 1 1 33%;
  }
}
