@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.step3-container {
  text-align: center;
  background-color: $background-color;
  gap: $spacing-unit;
  @include flex-center(column);

  .thank-you-message {
    @include flex-center(column);
    gap: $spacing-unit;
    margin-bottom: $spacing-unit;

    p {
      font-size: $body-font-size;
      color: $text-color;
    }
  }

  .request-data {
    background-color: $primary-color;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-medium;
    padding: $padding-large;
    gap: $spacing-unit;
    @include flex-center(column);

    h5 {
      font-size: $subheading-font-size;
      color: white;
    }

    .data-list-container {
      .data-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: calc($spacing-unit * 2);

        li {
          flex: 1 1 calc(50% - $spacing-unit);
          font-size: $body-font-size;
          color: white;
          border-bottom: 2px solid $border-color;
          padding: $padding-small;
          gap: calc($spacing-unit / 2);
          @include flex-center(column, end, center);

          strong {
            color: white;
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: $spacing-unit;
    margin-top: calc($spacing-unit * 2);
  }
}
