@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.stepper {
  @include flex-center(column);
  gap: $spacing-unit * 2;
  margin: $spacing-unit * 2 0;
}

.stepper-titles {
  @include flex-center(column);
  gap: $spacing-unit;
}

.step {
  @include flex-center(row);
  background-color: $border-color;
  @include padding($padding-small);
  @include border-radius($border-radius-small);
  transition: background-color $transition-speed;
  cursor: default;

  &.active {
    background-color: $link-color;
    color: $text-color;
  }
  
  .step-number {
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    background-color: #fff;
    color: $link-color;
    @include flex-center();
    font-weight: bold;
    margin-right: calc($spacing-unit / 2);
  }

  .step-details {
    @include flex-center(column);
    gap: calc($spacing-unit / 2);

    h3 {
      margin: 0;
      @include font($subheading-font-size, bold);
    }

    p {
      margin: calc($spacing-unit / 2) 0 0;
      @include font($body-font-size, normal);
    }
  }
}
