@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.table-container {
  @include margin($margin-medium);
  @include padding($padding-medium);
  border: 1px solid $border-color;
  @include border-radius($border-radius-medium);
  @include box-shadow($box-shadow-medium);

  h2 {
    margin-bottom: $spacing-unit;
    @include font($heading-font-size, bold);
    color: $text-color;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $background-color;

      th {
        border: 1px solid $border-color;
        @include padding($padding-medium);
        text-align: left;
        color: $muted-text-color;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: $background-color;
      }

      td {
        border: 1px solid $border-color;
        @include padding($padding-medium);
        text-align: left;
      }
    }
  }
}
