@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.header {
  @include flex-center(row, space-between);
  background-color: $background-color;
  color: $text-color;
  @include padding($padding-large);
  border-bottom: 1px solid $border-color;
  @include box-shadow($box-shadow-small);
  font-family: $font-primary;

  .header-logo {
    @include flex-center(row);
    font-size: $heading-font-size;
  }

  .header-menu {
    @include flex-center(row);
    gap: $spacing-unit;
  }
}

@media (max-width: 768px) {
  .header {
    @include flex-center(column);
    @include padding($padding-small);
    text-align: center;

    .header-logo {
      @include margin(0, $spacing-unit);
    }

    .header-menu {
      @include flex-center(column); 
      gap: calc($spacing-unit / 2);
    }
  }
}
