@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.footer {
  background-color: $background-color;
  color: $primary-color;
  padding: $padding-medium;
  text-align: center;
  font-family: $font-primary;
  font-weight: bold;
  border-top: 1px solid lighten($background-color, 10%);
  .footer-content {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: $padding-small;
  }
}
