// Importando variáveis e mixins
@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

// Estilo base para o Footer
.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: $footer-padding;
  text-align: center; // Centraliza o texto
  font-family: $font-family; // Fonte definida
  border-top: 1px solid lighten($footer-background-color, 10%); // Borda superior mais clara

  .footer-content {
    margin: 0; // Remove margens
  }

  p {
    margin: 0; // Remove margens
  }
}

// Responsividade básica
@media (max-width: 768px) {
  .footer {
    padding: $padding-small; // Ajusta o padding para dispositivos móveis usando variável
  }
}
