// Variáveis para cores e fontes
$footer-background-color: #333; // Fundo escuro
$footer-text-color: #fff; // Texto branco
$footer-padding: 1rem;
$font-family: Arial, sans-serif;

// Estilo base para o Footer
.footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    padding: $footer-padding;
    text-align: center; // Centraliza o texto
    font-family: $font-family;
    border-top: 1px solid lighten($footer-background-color, 10%); // Borda superior mais clara

    .footer-content {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

// Responsividade básica
@media (max-width: 768px) {
    .footer {
        padding: 0.5rem; // Ajusta o padding para dispositivos móveis
    }
}
