@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.step2-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: $spacing-unit;

      .input {
        width: 100%;
      }
    }

    .button-container {
      width: 100%;
      gap: $spacing-unit;
      margin-top: $spacing-unit;
      @include flex-center();

      .button {
        width: 120px;
      }
    }

    .total-value {
      font-size: $subheading-font-size;
      font-weight: bold;
      color: $primary-color;
      @include flex-center();
    }
  }
}
