@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.box {
  width: 100%;
  padding: $padding-medium;
  border-radius: $border-radius-medium;
  background-color: $background-color;
  border: 1px solid $border-color;
  @include flex-center(column);
  gap: calc($spacing-unit * 2);

  &.filled {
    background-color: $muted-text-color;
    border: 1px solid lighten($border-color, 10%);
  }

  &.outlined {
    background-color: $background-color;
    border: 1px solid $primary-color;
  }
}
