// Importando variáveis e mixins
@import 'styles/base/variables.scss';
@import 'styles/base/mixins.scss';

// Estilos Globais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color;
    font-family: $font-family;
    color: $text-color;
}

// Estilo para o elemento main
main {
    width: 100%;
    min-height: 100vh;
    @include flex-center(column); // Usando o mixin flex-center para centralizar o conteúdo
    background-color: $main-background-color;
}

// Estilização global para links
a {
    color: $link-color; // Cor padrão para links
    text-decoration: none; // Remove o sublinhado dos links
    @include transition(color); // Usando o mixin de transição para suavizar a cor do link

    &:hover,
    &:focus {
        color: $link-hover-color; // Cor do link ao passar o mouse ou focar
        text-decoration: underline; // Adiciona sublinhado ao passar o mouse
    }
}
