@import 'styles/base/variables.scss';
@import 'styles/base/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: $background-color;
    font-family: $font-primary;
    color: $text-color;
}

a {
    color: $link-color;
    text-decoration: none;
    @include transition(color);

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }
}

h1, 
h2, 
h3 {
    font-size: $heading-font-size;
    color: $medium-gray;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%; 
    background-color: green;
    transition: all 0.5s ease-in-out;
  
    .carousel-images {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 0.5s ease-in-out; /* Transição suave ao redimensionar a imagem */
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: all 0.5s ease-in-out; /* Transição suave ao redimensionar a imagem */
      }
    }
  
    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 1000;
  
      &.prev {
        left: 10px;
      }
  
      &.next {
        right: 10px;
      }
    }
  }
  